<h1 class="productstitle">Check Out Our Products!</h1>

<div class="product-options">
  <button (click)="onSeeds()">Seeds</button>
  <button (click)="onEquipment()">Equipment</button>
</div>

<div class="products-container">
  <div *ngIf=!toggle class="seeds">
    <h2>Seeds</h2>
    <hr />
    <ul>
      <li><h4>Strawberry Seeds</h4>
        <img src="../../../assets/gardenlogo.png" height="100" width="100">
      </li>
      <li>Tomato Seeds</li>
      <li>seeds 3</li>
      <li>seeds 4</li>
      <li>seeds 5</li>
      <li>seeds 6</li>
      <li>seeds 7</li>
    </ul>
  </div>
  <div *ngIf=toggle class="equipment">
    <h2>Equipment</h2>
    <hr />
    <ul>
      <li>Shovel</li>
      <li>Gloves</li>
      <li>Item</li>
      <li>Thing</li>
      <li>Something</li>
    </ul>
  </div>

</div>