.productstitle {
    text-align: center;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.product-options {
    text-align: center;
}
.product-options Button {
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    background-color: white;
    color: green;
    border: 1px solid white;
}
.product-options Button:hover {
    background-color: lightgreen;
    color: white;
    border: 1px solid lightgreen;
}
.seeds {
    margin-left: 10%;
    margin-right: 10%;
}
.seeds h2 {
    text-align: center;
}
.seeds li {
    display: inline-block;
    background-color: lightgreen;
    margin: 5px;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid darkgreen;
}
.equipment {
    margin-left: 10%;
    margin-right: 10%;
}
.equipment h2 {
    text-align: center;
}
.equipment li {
    display: inline-block;
    background-color: lightgreen;
    margin: 5px;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid darkgreen;
}