<h1 class="productstitle">Check Out Our Products!</h1>
<div class="product-options">
  <button>Seeds</button>
  <button>Equipment</button>
</div>
<div class="products-container">
  <div class="seeds">
    <h3>Seeds</h3>
    <ul>
      <li>Strawberry Seeds</li>
      <li>Tomato Seeds</li>
      <li>seeds 3</li>
      <li>seeds 4</li>
      <li>seeds 5</li>
      <li>seeds 6</li>
      <li>seeds 7</li>
    </ul>
  </div>
  <div class="equipment">
    <h3>Equipment</h3>
    <ul>
      <li>Shovel</li>
      <li>Gloves</li>
      <li>Item</li>
      <li>Thing</li>
      <li>Something</li>
    </ul>
  </div>

</div>