<h1 class="productstitle">Check Out Our Products!</h1>

<div class="product-options">
  <button (click)="onSeeds()">Seeds</button>
  <button (click)="onEquipment()">Equipment</button>
</div>

<div class="products-container">
  <div *ngIf=!toggle class="seeds">
    <h2>Seeds</h2>
    <hr />
    <ul>
      <li><h4>Squash</h4>
        <img src="../../../assets/squash.jpg" height="100" width="100">
      </li>
      <li><h4>Tomato</h4>
        <img src="../../../assets/tomato.jpg" height="100" width="100">
      </li>
      <li><h4>Zucchini</h4>
        <img src="../../../assets/zucchini.jpg" height="100" width="100">
      </li>
      <li><h4>Pumpkin</h4>
        <img src="../../../assets/pumpkin.jpg" height="100" width="100">
      </li>
      <li><h4>Peppers</h4>
        <img src="../../../assets/peppers.jpg" height="100" width="100">
      </li>
      <li><h4>Lettuce</h4>
        <img src="../../../assets/lettuce.png" height="100" width="100">
      </li>
      <li><h4>Spinach</h4>
        <img src="../../../assets/spinach.jpeg" height="100" width="100">
      </li>
    </ul>
  </div>
  <div *ngIf=toggle class="equipment">
    <h2>Equipment</h2>
    <hr />
    <ul>
      <li>Shovel</li>
      <li>Gloves</li>
      <li>Hoes</li>
      <li>Sun Hat</li>
      <li>Wheelbarrow</li>
    </ul>
  </div>

</div>