<body>
    <div class='jumbotron'>
        <i style="color: white">"The greatest fine art of the future will be the making of a comfortable living from a small piece of land."</i>
        <h2 style="color: white">- Abraham Lincoln</h2>
    </div>

    <div class="container">
        <h3>These are the words that Hobbit Gardening has lived by since its inception in 1989. Hobbit Gardening is a firm believer
            in living off the and wants to help its clients do the same. That is why we sell only the best seeds and gardening
            equiment to help anyone from a beginner to an advanced gardener accomplish all of their gardening needs. Veggies
            es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki
            bean garlic. Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava
            bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini. Turnip
            greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon
            napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot
            soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea
            gram corn pea.</h3>
    </div>

    <form id = 'form'>
        <h2>Get in Touch With Us!</h2>
        <label>Email </label>
        <input type="email">
        <br>
        <br>
        <label>Comments</label>
        <textarea style="height: 50px"></textarea>
        <br>
        <button>Submit</button>
    </form>

</body>