<div id="wrapper">
    <h1 id="title">Welcome to Hobbit Gardens</h1>
    <img id="icon" src="../../../assets/newlogo.PNG">
    <div id="list">
        <span><h3>We are your source for all your home gardening needs!</h3></span>
        <ul>
            <li>Seeds</li>
            <li>Potting Soils</li>
            <li>Tools</li>
            <li>Fertilizers</li>
            <li>Planters</li>
            <li>Starts</li>
        </ul>
    </div>
    <div>
        <img id="mainimg" src="../../../assets/seedssprouting.jpg">
    </div>
    <div>
        <span id="motto">We believe in providing the highest quality organic and heirloom seeds and products available for a sustainable and healthy garden.</span>
    </div>
</div>