.logo {
    position: absolute;
}
nav {
    text-align: center;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: greenyellow;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
  }
  nav a:visited, a:link {
    color: #607d8b;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }
.header {
    text-align: center;
}